.gradle
configuration-cache
build/
.kotlin
bin/ 
gradle/
 
.metadata/
.classpath
.project
.settings/
*.launch

nbproject/private/
build/
nbbuild/
dist/
nbdist/

logs/
*.log

.DS_Store
Thumbs.db

.vscode

PROB.txt